NODE_ENV=
PORT=
ALLOWED_ORIGIN=

MONGO_URI=
JWT_SECRET=
JWT_EXPIRATION=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION_BLACKLIST=
EMAIL_TOKEN_EXPIRATION=
EMAIL_JWT_SECRET=
RESET_PASSWORD_JWT_SECRET=
RESET_PASSWORD_JWT_EXPIRATION=

REFRESH_TOKEN_COOKIE_EXPIRATION=

EMAIL_SERVICE=
ADMIN_EMAIL=
ADMIN_PASSWORD=

CLIENT_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TLS_ENABLED=

GOOGLE_OAUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_TOKEN_URL=

SENTRY_DSN=